{% extends "TeleMindCareHome/base.html" %}
{% load static %}
{% block content %}




<h1 class="titulo-principal">Emociones Encontradas</h1>

<div id="emociones-chart-container">
    <canvas id="emociones-chart" width="700" height="450"></canvas>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Obtén los datos de las emociones desde el servidor
// Obtén los datos de las emociones desde el servidor
var datosEmociones = {
    felicidad: parseFloat("{{ emociones.felicidad }}".replace(',', '.')),
    tristeza: parseFloat("{{ emociones.tristeza }}".replace(',', '.')),
    enojo: parseFloat("{{ emociones.enojo }}".replace(',', '.')),
    sorpresa: parseFloat("{{ emociones.sorpresa }}".replace(',', '.')),
    neutral: parseFloat("{{ emociones.neutral }}".replace(',', '.'))
};

// Resto del código del gráfico


    // Configuración del gráfico
    var ctx = document.getElementById('emociones-chart').getContext('2d');
    var emocionesChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Felicidad', 'Tristeza', 'Enojo', 'Sorpresa', 'Neutral'],
            datasets: [{
                label: 'Emociones',
                data: [datosEmociones.felicidad, datosEmociones.tristeza, datosEmociones.enojo, datosEmociones.sorpresa, datosEmociones.neutral],
                backgroundColor: [
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                ],
                borderColor: [
                'rgba(255, 206, 86, 1)',
                    'rgba(54, 162, 235, 1)',
                    
                    'rgba(255, 99, 132, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


{% endblock %}
